.profile-info{
    background: rgba(255, 255, 255, 0.5);
}
.account-menu{
    background-color: #f6f9fb;
}
.auth-content-block{
  background:rgba(255, 255, 255, 0.7);
}
.button-auth{
  background: #B0C4DE;
}
.delete-account{
    color:red;
}
.delete-account:hover{
    color:#C40303;
}