{% extends 'base.html' %}
{% block main %}
{% from "_render_field.html" import render_field_lr %}
<div class="card text-center" style="width:77%; margin: 0 auto;">
    <div class="card-header">
        {{place.region_br.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if current_user.role_id==3 %}
            <a href="{{url_for('place_bp_in.favourite_list_handle', place_id=place.id)}}" id="favourite_icon" class="bi"></a>
            <a href="{{url_for('place_bp_in.visited_list_handle', place_id=place.id)}}" id="visited_icon" class="bi"></a>
            <a href="{{url_for('place_bp_in.want_to_visit_list_handle', place_id=place.id)}}" id="want_to_visit_icon" class="bi"></a>
        {% endif %}

        {% if current_user.is_authenticated and current_user.id == place.user_id%}
        <a href="{{url_for('place_bp_in.place_update', place_id=place.id)}}" class="btn btn-info">Редагувати</a>
        <a href="{{url_for('place_bp_in.place_delete', place_id=place.id)}}" class="btn btn-danger">Видалити</a>
        {% endif %}
    </div>
    <div class="card-body overflow-auto">
        <h5 class="card-title">{{place.title}}</h5>
         <p class="card-text">{{place.content|safe}}</p>
    </div>
    <div class="card-footer text-muted">
        {{place.created_at.strftime('%d.%m.%Y')}}<br>
        {% if place.average_rating > 0 %}
            <h5>Загальна оцінка місця: {{place.average_rating}} / 5</h5>
        {% else %}
           <h5>Загальна оцінка місця: Немає оцінок даному місцю</h5>
        {% endif %}
        {% if current_user.role_id==3 %}
            <div class="rating">
                <input type="radio" name="rating" value="1" id="1">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=1)}}" class="rating-link bi text-decoration-none" id="star1" for="1"></a>
                <input type="radio" name="rating" value="2" id="2">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=2)}}" class="rating-link bi text-decoration-none" id="star2" for="2"></a>
                <input type="radio" name="rating" value="3" id="3">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=3)}}" class="rating-link bi text-decoration-none" id="star3" for="3"></a>
                <input type="radio" name="rating" value="4" id="4">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=4)}}" class="rating-link bi text-decoration-none" id="star4" for="4"></a>
                <input type="radio" name="rating" value="5" id="5">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=5)}}" class="rating-link bi text-decoration-none" id="star5" for="5"></a>
            </div>
            Оцінити місце
        {% endif %}
    </div>
</div>
<div class="card text-center" style="width:77%; margin: 0 auto;">
    <div class="card-header">
        <h3>Коментарі</h3>
    </div>
    <div class="card-body overflow-auto">
        {% if current_user.is_authenticated %}
            <form method="post" action="{{url_for('place_bp_in.place_view', place_id=place.id)}}" enctype="multipart/form-data">
                {{form.csrf_token}}
                {{ form.comment }}<br>
                {{ form.submit(class='btn btn-outline-secondary') }}
            </form>
        {% else %}
            Авторизуйтесь, щоб мати можливість писати коментарі
        {% endif %}
    </div>
    <div class="card-footer text-muted d-flex justify-content-center">
        <div class="card mb-4 w-50">
          {% for comment in comments%}
            <div class="card-body border-top">
                <div class="row">
                    <div class="col-10"><h6>{{comment.text}}</h6></div>
                    <div class="col-2">
                        {% if comment.user_id==current_user.id %}
                            <a href="{{url_for('place_bp_in.comment_delete', comment_id=comment.id)}}" title="Видалити коментар"><i class="bi bi-trash3-fill"></i></a>
                        {% endif %}
                    </div>
                </div>


            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="{{url_for('static',filename='pictures/profile_img/' + comment.user_br.picture)}}" alt="avatar" width="25"
                  height="25" />
                <p class="small mb-0 ms-2">{{comment.user_br.username}}</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">{{comment.created_at.strftime('%H:%M %d.%m.%Y')}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>
<script>
{% if current_user.is_authenticated %}
<!--    змінюємо іконку додавання місць до списків користувача-->
    {% if not current_user.is_favourite_place(place) %}
        $(document).ready(function(){
            $("#favourite_icon").addClass("bi-heart").prop('title', 'Додади до списку улюблених місць');
        })
    {% else %}
        $("#favourite_icon").addClass("bi-heart-fill").prop('title', 'Видалити зі списку улюблених місць');
    {% endif %}
<!--    -------------------------------------------------------------------------------------------  -->
     {% if not current_user.is_visited_place(place) %}
        $(document).ready(function(){
            $("#visited_icon").addClass("bi-check-square").prop('title', 'Додади до списку відвіданих місць');
        })
    {% else %}
        $("#visited_icon").addClass("bi-check-square-fill").prop('title', 'Видалити зі списку відвіданих місць');
    {% endif %}
<!--    -------------------------------------------------------------------------------------------  -->
     {% if not current_user.is_want_to_visit_place(place) %}
        $(document).ready(function(){
            $("#want_to_visit_icon").addClass("bi-bag-plus").prop('title', 'Додади до списку місць, які хочу відвідати');
        })
    {% else %}
        $("#want_to_visit_icon").addClass("bi-bag-plus-fill").prop('title', 'Видалити до списку місць, які хочу відвідати');
    {% endif %}
<!--    -------------------------------------------------------------------------------------------  -->
     {% if not current_user.is_rated_place(place) %}
        $(document).ready(function(){
           $(".rating-link").addClass("bi-star");
           for(let i = 1; i <= 5; i++){
               $("#star"+i).hover(
                    function(){
                        for(let j = 1; j <= i; j++){
                            $("#star"+j).removeClass("bi-star");
                            $("#star"+j).addClass("bi-star-fill");
                        }
                    },
                    function(){
                        for(let j = 1; j <= i; j++){
                            $("#star"+j).removeClass("bi-star-fill");
                            $("#star"+j).addClass("bi-star");
                        }
                    },
               )
           }
        })
    {% else %}
        let c = 0;
        for (var i = 1; i <= {{current_user.get_mark(place)}}; i++) {
            $("#star"+i).addClass('bi-star-fill');
            c = i
        }
        for (var i = {{current_user.get_mark(place)+1}}; i <= 5; i++) {
            $("#star"+i).addClass('bi-star');
            $("#star"+i).css({ "pointer-events": "none",
                "cursor": "default",
                "text-decoration": "none",
                 })
            c = i
        }
    {% endif %}
{% endif %}
</script>
{% endblock main %}