{% extends 'base.html' %}
{% block main %}
{% from "_render_field.html" import render_field_lr %}
<div class="card text-center place-view" style="width:77%; margin: 0 auto;">
    <div class="card-header">
<!--         <div class="d-flex justify-content-between">-->
<!--            <d{{place.region_br.name}} область&nbsp;&nbsp;-->
<!--             {{place.created_at.strftime('%d.%m.%Y')}}<br>-->
<!--        </div>-->

        <span style="font-size:25px;">{{place.region_br.name}} область</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if current_user.is_authenticated %}
            <a id="favourite_icon" class="bi icons"></a>
            <a id="visited_icon" class="bi icons"></a>
            <a id="want_to_visit_icon" class="bi icons"></a>

        {% endif %}

        {% if current_user.is_authenticated and current_user.id == place.user_id%}
        <div>
            <a href="{{url_for('place_bp_in.place_update', place_id=place.id)}}" class="btn btn-info">Редагувати</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Видалити">Видалити</button>
        </div>
        {% endif %}
    </div>
    <div class="card-body overflow-auto">
        <h5 class="card-title">{{place.title}}</h5>
        <h5>Розташування: <a href="{{place.location}}" target="_blank">дивитись на карті</a></h5>
         <p class="card-text">{{place.content|safe}}</p>
    </div>
    <div class="card-footer text-muted">
        <div class="d-flex justify-content-between">
            {% if place.average_rating > 0 %}
            <h5 class="place-mark">Загальна оцінка місця: {{place.average_rating}} / 5</h5>
            {% else %}
            <h5 class="place-mark">Загальна оцінка місця: Немає оцінок даному місцю</h5>
            {% endif %}
             {{place.created_at.strftime('%d.%m.%Y')}}<br>
        </div>


        {% if current_user.is_authenticated %}
            <div class="rating">
                <input type="radio" name="rating" value="1" id="1">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=1)}}" class="rating-link bi text-decoration-none" id="star1" for="1"></a>
                <input type="radio" name="rating" value="2" id="2">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=2)}}" class="rating-link bi text-decoration-none" id="star2" for="2"></a>
                <input type="radio" name="rating" value="3" id="3">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=3)}}" class="rating-link bi text-decoration-none" id="star3" for="3"></a>
                <input type="radio" name="rating" value="4" id="4">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=4)}}" class="rating-link bi text-decoration-none" id="star4" for="4"></a>
                <input type="radio" name="rating" value="5" id="5">
                <a href="{{url_for('place_bp_in.rate_place', place_id=place.id, mark=5)}}" class="rating-link bi text-decoration-none" id="star5" for="5"></a>
            </div>
            Оцінити місце
        {% endif %}
    </div>
</div>
<div class="card text-center place-view" style="width:77%; margin: 0 auto;">
    <div class="card-header">
        <h3>Коментарі(<span id="count-comments">{{place.total_comments()}}</span>)</h3>
         {% if current_user.is_authenticated %}
            <form id='form-id'>
                {{ form.comment(id='comment-field') }}<br>
                {{ form.submit(class='btn btn-outline-secondary comment-place') }}
            </form>
        {% else %}
            Авторизуйтесь, щоб мати можливість писати коментарі
        {% endif %}

        <div class="d-flex justify-content-center">
            <div class="card mb-4 mt-4 w-50 comments-list">
                {% for comment in comments%}
                <div class="card-body border-top">
                    <div class="row">
                        <div class="col-10"><h6>{{comment.text}}</h6></div>
                        <div class="col-2">
                            {% if comment.user_id==current_user.id %}
                            <a href="{{url_for('place_bp_in.comment_delete', comment_id=comment.id)}}"
                               title="Видалити коментар"><i
                                    class="bi bi-trash3-fill"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="{{config.IMG_STORAGE_URL_DEV + comment.user_br.picture}}"
                                 alt="avatar" width="25"
                                 height="25"/>
                            <p class="small mb-0 ms-2">
                                {{comment.user_br.username}}</p>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <p class="small text-muted mb-0">
                                {{comment.created_at.strftime('%H:%M
                                %d.%m.%Y')}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

 <!-- confirmation of deleting the post -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Підтвердження</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Ви впевнені, що хочете видалити пост про дане місце?
        </div>
        <div class="modal-footer">
          {% if current_user.id == place.user_id %}
            <a href="{{url_for('place_bp_in.place_delete', place_id=place.id)}}" class="btn btn-danger"> Так, видалити </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
<script>
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
$(document).ready(function(){
    $('#favourite_icon').click(function(){
        $.ajax({
            url: '{{url_for('place_bp_in.favourite_list_handle', place_id=place.id)}}',
            type: 'get',
            contentType: 'application/json',
            data: {
            place_id: {{place.id}}
            },
            success: function(response){
              if (response.added){
                  $("#favourite_icon").removeClass("bi-heart");
                  $("#favourite_icon").addClass("bi-heart-fill").prop('title', 'Видалити зі списку улюблених місць');
              }
              else{
                  $("#favourite_icon").removeClass("bi-heart-fill");
                  $("#favourite_icon").addClass("bi-heart").prop('title', 'Додати до списку улюблених місць');
              }
            }
        })
    })
    $('#visited_icon').click(function(){
        $.ajax({
            url: '{{url_for('place_bp_in.visited_list_handle', place_id=place.id)}}',
            type: 'get',
            contentType: 'application/json',
            data: {
            place_id: {{place.id}}
            },
            success: function(response){
              if (response.added){
                  $("#visited_icon").removeClass("bi-check-square");
                  $("#visited_icon").addClass("bi-check-square-fill").prop('title', 'Видалити зі списку відвіданих місць');
              }
              else{
                  $("#visited_icon").removeClass("bi-check-square-fill");
                  $("#visited_icon").addClass("bi-check-square").prop('title', 'Додати до списку відвіданих місць');
              }
            }
        })
    })
    $('#want_to_visit_icon').click(function(){
        $.ajax({
            url: '{{url_for('place_bp_in.want_to_visit_list_handle', place_id=place.id)}}',
            type: 'get',
            contentType: 'application/json',
            data: {
            place_id: {{place.id}}
            },
            success: function(response){
              if (response.added){
                  $("#want_to_visit_icon").removeClass("bi-bag-plus");
                  $("#want_to_visit_icon").addClass("bi-bag-plus-fill").prop('title', 'Видалити до списку місць, які хочу відвідати');
              }
              else{
                  $("#want_to_visit_icon").removeClass("bi-bag-plus-fill");
                  $("#want_to_visit_icon").addClass("bi-bag-plus").prop('title', 'Додати до списку місць, які хочу відвідати');
              }
            }
        })
    })
    $('form').on('submit', function(event){
        console.log('click')
        console.log($('#comment-field').val())
        $.ajax({
            url: '{{url_for('place_bp_in.place_view', place_id=place.id)}}',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
            place_id: {{place.id}},
            comment_text: $('#comment-field').val()
            }),
            success: function(response){
              if(response.commentAdded){
                  comment_html = `<div class='card-body border-top'>
                    <div class='row'>
                        <div class="col-10"><h6>`+response.commentText+`</h6></div>
                        <div class="col-2">
                            <a href="/place/comment/` + response.commentId + `/delete"
                               title="Видалити коментар"><i
                                    class="bi bi-trash3-fill"></i>
                            </a>
                        </div>
                    <div class='d-flex justify-content-between'>
                        <div class='d-flex flex-row align-items-center'>
                            <img src="{{config.IMG_STORAGE_URL_DEV}}`+response.commentUserBrPicture+`"
                                 alt="avatar" width="25" height="25"/>
                            <p class='small mb-0 ms-2'>`+response.commentUserBrUsername+`</p>
                        </div>
                        <div class='d-flex flex-row align-items-center'>
                            <p class='small text-muted mb-0'>`+response.commentCreatedAt+`</p>
                        </div>
                    </div>
                </div>`
              var countComments = $('#count-comments').text()
              $("#count-comments").text(parseInt(countComments)+1);
              $( ".comments-list" ).prepend(comment_html);
              $('#comment-field').val('')
              }
            }
        })
        event.preventDefault()
    })
})

{% if current_user.is_authenticated %}
<!--    змінюємо іконку додавання місць до списків користувача-->
    {% if not current_user.is_favourite_place(place) %}
        $("#favourite_icon").addClass("bi-heart").prop('title', 'Додати до списку улюблених місць');
    {% else %}
        $("#favourite_icon").addClass("bi-heart-fill").prop('title', 'Видалити зі списку улюблених місць');
    {% endif %}
<!--    -------------------------------------------------------------------------------------------  -->
     {% if not current_user.is_visited_place(place) %}
        $("#visited_icon").addClass("bi-check-square").prop('title', 'Додати до списку відвіданих місць');
    {% else %}
        $("#visited_icon").addClass("bi-check-square-fill").prop('title', 'Видалити зі списку відвіданих місць');
    {% endif %}
<!--    -------------------------------------------------------------------------------------------  -->
     {% if not current_user.is_want_to_visit_place(place) %}
        $("#want_to_visit_icon").addClass("bi-bag-plus").prop('title', 'Додати до списку місць, які хочу відвідати');
    {% else %}
        $("#want_to_visit_icon").addClass("bi-bag-plus-fill").prop('title', 'Видалити до списку місць, які хочу відвідати');
    {% endif %}
<!--    -------------------------------------------------------------------------------------------  -->
     {% if not current_user.is_rated_place(place) %}
           $(".rating-link").addClass("bi-star");
           for(let i = 1; i <= 5; i++){
               $("#star"+i).hover(
                    function(){
                        for(let j = 1; j <= i; j++){
                            $("#star"+j).removeClass("bi-star");
                            $("#star"+j).addClass("bi-star-fill");
                        }
                    },
                    function(){
                        for(let j = 1; j <= i; j++){
                            $("#star"+j).removeClass("bi-star-fill");
                            $("#star"+j).addClass("bi-star");
                        }
                    },
               )
           }
    {% else %}
        for (var i = 1; i <= {{current_user.get_mark(place)}}; i++) {
            $("#star"+i).addClass('bi-star-fill');
        }
        for (var i = {{current_user.get_mark(place)+1}}; i <= 5; i++) {
            $("#star"+i).addClass('bi-star');
            $("#star"+i).css({ "pointer-events": "none",
                "cursor": "default",
                "text-decoration": "none",
                 })
        }
    {% endif %}
{% endif %}
</script>
{% endblock main %}