body {
  background-position:center;
  background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url('/static/pictures/background.jpg') ;
  background-size: 100%;
  background-attachment: fixed;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.place-items{
    border: 3px solid #778899;
    background:rgba(255, 255, 255, 0);
}
.place-item-info{
    background:rgba(204, 229, 255, 0.7);
}
.place-item{
    background:rgba(255, 255, 255, 0.7);
}
.main-block{
    margin:auto;
    width:70%;
    margin-top:30px
}
.place-title{
    text-decoration: none;
    color: #708090;
    font-weight: bold;
}
.place-title:hover{
    color: #696969;
}
.place-info-content{
    text-decoration: none;
    color: #708090;
    font-weight: bold;
}
.place-info-content:hover{
    color:#696969;
}
.place-info-title{
    color: #4682b4;
    font-weight: bold;
}
.page-item.active .page-link{
   background: #85C1E9;
   border-color: #85C1E9;
}
.page-link{
    color: black;
}
.contact-header{
    width: 35%;
    background:rgba(255, 255, 255, 0.7);
    color: #4682b4;
}
.contact-info{
    font-size:20px;
}
.filter-title{
    color: #4682b4;
}
.filter-items{
    color: #778899;
}
.flag-img{
    width: 30px;
    height: 20px;
}
.button-place{
  background: #B0C4DE;
}