body::after {
  content: "";
  background: url('/static/pictures/background.jpg');
  background-size: 100%;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.place-items{
    border: 3px solid gray;
    background:rgba(255, 255, 255, 0);
}
.place-item-header{
    background:rgba(204, 229, 255, 0.7);
}
.place-item{
    background:rgba(255, 255, 255, 0.7);
}
.main-block{
    margin:auto;
    width:70%;
    margin-top:30px
}
