{% macro render_field_lr(field, placeholder) %}
  <div class="form-group p-1" style="size:35%">
<!--    <div class="form-control-label">-->
<!--      {{ field.label }}-->
<!--    </div>-->

    {% if field.errors %}
      <div class="form-control is-invalid">
        {{ field(class="form-control", placeholder=placeholder) }}
      </div>
      <div class="invalid-feedback">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </div>
     {% else %}
        {{ field(class="form-control", placeholder=placeholder) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_editor_field(field) %}
  <div class="form-group" style="size:35%">

    {% if field.errors %}
      <div class="form-control is-invalid">
        {{ field(class="form-control", id="editor") }}
      </div>
      <div class="invalid-feedback">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </div>
     {% else %}
        {{ field(class="form-control", id="editor") }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_place_list(places) %}
    <div align="center"
         style="margin:auto; width: 70%; ">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {%if places.total > 0%}
        {% for place in places.items%}
        <div class="card mb-3 place-items" style="max-width: 940px;">
            <div class="row g-0">
                 <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{url_for('place_bp_in.place_view', place_id=place.id)}}">{{place.title}}</a>
                        </h5>
                        <p class="card-text"><small class="text-muted">
                            Дата публікації місця: {{place.created_at.strftime('%d.%m.%Y')}}
                        </small></p>
                    </div>
                </div>
                <div class="col-md-4 place-item-info">
                    <h5 class="card-title">Категорія:
                        <a href="{{url_for('place_bp_in.category_places', category_id=place.category_br.id)}}">{{place.category_br.name}}</a>
                    </h5>
                    <h5 class="card-title">
                        <a href="{{url_for('place_bp_in.region_places', region_id=place.region_br.id)}}">{{place.region_br.name}} </a>область<br>
                    </h5>
                    <h5 class="card-title">Середня оцінка: {{place.average_rating}}/5</h5>
                </div>

            </div>
        </div>
        {% endfor %}
        {%else%}
        Немає доступних місць
        {%endif%}

    </div>
{% endmacro %}


{% macro paginate_places(places, action) %}
{% if places.pages > 0%}
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if places.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for(request.url_rule.endpoint, page=places.page-1,
              region_id=places.items[0].region_id, category_id=places.items[0].category_id, action=action,
              sort_by=request.args['sort_by'], query=request.args['query']) }}" tabindex="-1">Попередня</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Попередня</a>
      </li>
    {% endif %}
    {% for page_num in places.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
      {% if page_num %}
          {% if places.page == page_num %}
              <li class="page-item active"><a class="page-link" href="{{ url_for(request.url_rule.endpoint, page=page_num,
              region_id=places.items[0].region_id, category_id=places.items[0].category_id, action=action,
              sort_by=request.args['sort_by'], query=request.args['query']) }}">{{page_num}}</a></li>
          {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for(request.url_rule.endpoint, page=page_num,
              region_id=places.items[0].region_id, category_id=places.items[0].category_id,  action=action,
              sort_by=request.args['sort_by'], query=request.args['query']) }}">{{page_num}}</a></li>
          {% endif %}
      {% else %}
          <li class="page-item disabled"><a class="page-link">...</a></li>
      {% endif %}
    {% endfor %}
    {% if places.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for(request.url_rule.endpoint, page=places.page+1,
              region_id=places.items[0].region_id, category_id=places.items[0].category_id, action=action,
              sort_by=request.args['sort_by'], query=request.args['query']) }}" tabindex="-1">Наступна</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Наступна</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endmacro %}

{% macro sorting_menu(places, action) %}
<div align="center" class="dropdown mb-1">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Сортувати місця
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="{{ url_for(request.url_rule.endpoint, page=places.page,
              region_id=places.items[0].region_id, category_id=places.items[0].category_id, action=action,
              sort_by='rating', query=request.args['query']) }}">за рейтингом</a></li>
    <li><a class="dropdown-item" href="{{ url_for(request.url_rule.endpoint, page=places.page,
              region_id=places.items[0].region_id, category_id=places.items[0].category_id, action=action,
              sort_by='newest', query=request.args['query']) }}">за датою створення публікації(найновіші-найстаріші)</a></li>
    <li><a class="dropdown-item" href="{{ url_for(request.url_rule.endpoint, page=places.page,
              region_id=places.items[0].region_id, category_id=places.items[0].category_id, action=action,
              sort_by='oldest', query=request.args['query']) }}">за датою створення публікації(найстаріші-найновіші)</a></li>
<!--    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
  </ul>
</div>
{% endmacro %}