{% macro render_field_lr(field, placeholder) %}
  <div class="form-group p-1" style="size:35%">
<!--    <div class="form-control-label">-->
<!--      {{ field.label }}-->
<!--    </div>-->

    {% if field.errors %}
      <div class="form-control is-invalid">
        {{ field(class="form-control", placeholder=placeholder) }}
      </div>
      <div class="invalid-feedback">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </div>
     {% else %}
        {{ field(class="form-control", placeholder=placeholder) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_editor_field(field) %}
  <div class="form-group" style="size:35%">

    {% if field.errors %}
      <div class="form-control is-invalid">
        {{ field(class="form-control", id="editor") }}
      </div>
      <div class="invalid-feedback">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </div>
     {% else %}
        {{ field(class="form-control", id="editor") }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_place_list(places) %}
    <div align="center"
         style="margin:auto; width: 70%; ">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {%if places|length > 0%}
        {% for place in places%}
        <div class="card text-center post-items">
            <div class="card-header place-item-header">
                <a href="{{url_for('place_bp_in.region_places', region_id=place.region_br.id)}}">{{place.region_br.name}} </a>область<br>
                Категорія: <a
                    href="{{url_for('place_bp_in.category_places', category_id=place.category_br.id)}}">{{place.category_br.name}}</a>
            </div>
            <div class="card-body place-item">
                <a href="{{url_for('place_bp_in.place_view', place_id=place.id)}}">{{place.title}}</a>
            </div>
        </div>
        <br>
        {% endfor %}
        {%else%}
        Немає доступних місць
        {%endif%}

    </div>
{% endmacro %}