{% extends 'base.html' %}
{% block main %}
<div class="mt-5 d-flex flex-column align-items-center">
    <h5 align="center" class="contact-header">Маєте зауваження та пропозиції або хочете
        отримати право на створення постів?</h5>
    <h3 class="mt-5 mb-3">Наші контакти:</h3>
    <div class="d-flex flex-column">
        <div align="left" class="contact-info">
            <b>Електронна пошта:</b> dimayurchuk20@gmail.com
        </div>
        <div align="left" class="contact-info">
             <b>Telegram:</b> @dimayurchuk<br>
        </div>
        <div align="left" class="contact-info">
            <b>Linkedin:</b> <a href="https://www.linkedin.com/in/dmytro-yurchuk-5b97a7205/">Dmytro Yurchuk</a>
        </div>
    </div>
</div>
{% endblock %}